<div class="container">
	<div class="col-xs-12">
   <h2>Editar Pelicula</h2>

	<%= form_for @pelicula do |pelicula|%>

	<p>
      <%= pelicula.text_field :title%></br>
    </p>

    <p>
	  <%= pelicula.text_field :valoration%></br>
    </p>

    <p>
	  <%= pelicula.text_field :director%></br>
	</p>

	<p>
	<%= pelicula.text_field :year%></br>
    </p>

	<!-- y asi con todos los campos… -->
	</hr>
	<%= pelicula.submit "enviar Pelicula",class:"btn btn-md btn-success"%>

	 <% end %>
	<hr>
   </br>

 </div>
</div>


